<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos" href="/tabs/photos">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bingo" href="/tabs/bingo">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Bingo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
