@font-face {
    font-family: Vina Sans;
    src: url('../assets/fonts/VinaSans-Regular.ttf');
}

@font-face {
    font-family: Urbanist Extra Bold;
    src: url('../assets/fonts/Urbanist/static/Urbanist-ExtraBold.ttf');
}

@font-face {
    font-family: Urbanist Medium;
    src: url('../assets/fonts/Urbanist/static/Urbanist-Medium.ttf');
}