<ion-header [translucent]="true">
    <ion-toolbar class="no-border"><img src="/assets/boozy_transparent.png" alt="Logo" /></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>UPCOMING EVENTS</h1>
    @for (event of events; track $index) {
        <ion-card [ngStyle]="{'background': event.background}">
            <ion-card-header>
            </ion-card-header>
            <ion-card-content>
                <h1>{{ event.title }}: {{ event.venue }}</h1>
                <h2>{{ event.startTime | date: "MMMM d, y '@' h:mma" }}</h2>
                <p>{{ event.addressLine1 }} {{ event.city }}, {{ event.state }} {{ event.zipCode }}</p>
                <p>
                    Prizes:
                    @for (prize of event.prizes; track $index) {
                        {{prize}}
                    }
                </p>
                <p>
                    Music:
                @for (genre of event.musicGenre; track $index) {
                        {{genre}}
                }
                </p>
            </ion-card-content>
        </ion-card>
    }
</ion-content>
